/* ===== RESET / BASE ===== */

body {
  font-family: "Inter", sans-serif;
  background-color: #0e1823;
  color: #fbfbfb;
}

h1, h2, h3, p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* ===== CONTAINER ===== */

.container {
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
.container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1440px) {
    .container {
    max-width: 1440px;
    padding-left: 100px;
    padding-right: 100px;
  }
}

/*header*/

.header {
  padding: 20px 0;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -0.02em;
}

.header-nav-list,
.header-social-list {
  display: none;
}

.burger-btn {
  background: transparent;
  border: none;
  padding: 0;
}

@media screen and (min-width: 1440px) {
    .header-nav-list,
  .header-social-list {
    display: flex;
    gap: 24px;
  }

  .burger-btn {
    display: none;
  }
}

/*mobile menu*/

.mobile-menu {
  position: fixed;
  inset: 0;
  background-color: #0e1823;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 1000;
}

.mobile-menu-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.mobile-menu-close {
  margin-left: auto;
  background: transparent;
  border: none;
}

.nav-list-mobile-menu {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  gap: 28px;
  text-align: center;
}

.navi-link-mobile-menu {
  font-size: 24px;
}

.social-list-mobile-menu {
  margin-top: auto;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
  gap: 14px;
}


/*hero*/

.hero {
  padding: 198px 0 243px;
  background-image: url('../images/fome-mobile1x.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

@media (min-resolution: 192dpi) {
    .hero {
        background-image: url("../images/fone-mobile2x.jpg");
    }
}

.wrapper-all {
  max-width: 335px;
}

.hero-text {
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
  margin-bottom: 24px;
}

.hero-description {
  font-weight: 300;
  font-size: 12px;
  line-height: 1.17;
  text-align: center;
  color: rgba(251, 251, 251, 0.7);
  margin-bottom: 38px;
}

.hero-link {
  display: inline-block;
  border-radius: 15px;
  padding: 14px 32px;
  width: 141px;
  height: 46px;
  background-color: #1b414b;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #fbfbfb;
}

@media screen and (min-width: 768px) {
   .hero {
    background-image: url('../images/fone-tablet1x.jpg');
    padding: 200px 0 215px;
   }

   .wrapper-all {
    max-width: 704px;
  }

  .hero-text {
    font-size: 70px;
  }

  .hero-description {
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 48px;
  }

  .hero-link {
    padding: 16px 40px;
    width: 179px;
    height: 52px;
    font-size: 18px;
    line-height: 1.1;
  }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
    .hero {
    background-image: url('../images/fone-tablet2x.jpg');
  }
}

@media screen and (min-width: 1440px) {
   .hero {
    padding: 155px 0 180px;
    background-image: url('../images/fone-desk1x.jpg');
  }

   .wrapper-all {
    max-width: 1001px;
  }

  .hero-text {
    font-size: 80px;
  }
}

@media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
.hero {
    background-image: url('../images/fone-desk2x.jpg');
  }
}

/*second section*/

.second-section {
  padding-bottom: 80px;
  text-align: start;
  align-items: start;
  display: flex;
  flex-direction: column;
}

.all {
  border-radius: 24px;
  max-width: 335px;
  height: 675px;
  background-color: #fbfbfb;
}

.all-text {
  padding: 40px 20px 0;
}

.second-section-big-text {
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #1b414b;
  margin-bottom: 40px;
}

.second-section-one-desk{
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #1b414b;
  margin-bottom: 20px;

}
.second-section-two-desk {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: #040306;
  opacity: 0.4;
  margin-bottom: 40px;
}

.second-img {
  border-radius: 0 24px 0 0;
  width: 335px;
  height: 395px;
}

@media screen and (min-width: 768px) {
   .second-section {
   padding-bottom: 150px;
  }

  .all {
   max-width: 704px;
   height: 675px;
  }

  .all-text {
    padding-top: 50px;
    padding-left: 32px;
    padding-right: 136px;
    padding-bottom: 0;
  }

  .second-section-big-text {
    font-size: 48px;
    margin-bottom: 50px;
  }

  .second-section-one-desk {
    font-size: 23px;
  }

  .second-section-two-desk {
    font-size: 13px;
    line-height: 1.15;
    margin-bottom: 50px;
  }

  .second-img {
    border-radius: 0 24px 0 0;
    width: 704px;
    height: 470px;
  }
}

@media screen and (min-width: 1440px) {

  .all {
   max-width: 1340px;
  }

  .all-text {
    text-align: left;
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 0;
    gap: 189px;
  }

  .second-section-richt-desk {
    display: block;
    text-align: right;
    gap: 20px;
    max-width: 354px;
    height: 210px;
    margin-bottom: 100px;
  }

  .second-section-big-text {
    margin-bottom: 166px;
    width: 537px;
  }

 .second-img {
  width: 1340px;
  height: 470px;
 }
}
  

/*choose*/

.choose {
  padding: 80px 0;
  text-align: center;
}

.choose-text {
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  margin-bottom: 40px;
}

.choose-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}


.choose-yacht-one,
.choose-yacht-two,
.choose-yacht-tree {
  background-color: #ffffff;
  border-radius: 24px;
  padding: 16px 16px 32px;
  max-width: 335px;
  width: 100%;
  min-height: 478px;
  margin-bottom: 40px;
}

.choose-yacht-two,
.choose-yacht-tree {
  display: none;
}


.choose-img {
  width: 100%;
  height: auto;
  border-radius: 24px;
  display: block;
}


.wrapper-one {
  display: flex;
  justify-content: space-between;
  margin: 32px 0 16px;
}

.choose-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.18;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #1b414b;
}

.choose-title-right {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #040306;
  opacity: 0.4;
}


.choose-line {
  width: 100%;
  height: 1px;
  background-color: rgba(4, 3, 6, 0.1);
  margin-bottom: 16px;
}


.wrapper-two {
  display: flex;
  justify-content: space-between;
}

.choose-description-left {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #040306;
  opacity: 0.4;
  margin-bottom: 6px;
}

.choose-description-right {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #040306;
  margin-bottom: 6px;
}


.choose-link {
  border: 1px solid rgba(251, 251, 251, 0.35);
  border-radius: 15px;
  padding: 14px 32px;
  width: 141px;
  height: 46px;
  background-color: transparent;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: #fbfbfb;
}

@media screen and (min-width: 768px) {
  .choose {
    padding: 150px 0;
  }

  .choose-text {
    font-size: 48px;
    margin-bottom: 75px;
  }

  .choose-list {
    flex-direction: row;
    justify-content: center;
  }

  .choose-yacht-two {
    display: block;
  }

  .choose-link {
    margin-top: 50px;
    padding: 16px 40px;
    font-size: 18px;
  }
}

@media screen and (min-width: 1440px) {
  .choose-yacht-tree {
    display: block;
  }

  .choose-yacht-one,
  .choose-yacht-two,
  .choose-yacht-tree {
    max-width: 392px;
  }

}


/*no name*/

.no-name {
  padding-bottom: 80px;
}

.wrapper-no-name {
  margin-bottom: 20px;
}

.no-name-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  border-radius: 24px;
  max-width: 335px;
  height: 642px;
  background-color: #1b414b;
  padding: 80px 20px 80px 20px;
}


.no-name-text {
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.05em;
  color: #fbfbfb;
  margin-bottom: 18px;
}

.no-name-line {
  width: 100%;
  height: 2px;
  border-radius: 18px;
  background-color: rgba(251, 251, 251, 0.2);
  margin-bottom: 18px;
}

.no-name-description {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  opacity: 0.8;
}

.no-name-img {
  border-radius: 24px;
  width: 335px;
  height: 424px;
}

@media screen and (min-width: 768px) {
  .no-name {
  padding-bottom: 150px;
}

.wrapper-no-name {
  margin-bottom: 32px;
}

.no-name-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  max-width: 704px;
  height: 424px;
  padding: 90px 32px 90px 32px;
}

.no-name-text {
  font-size: 32px;
}

.no-name-description {
  font-size: 13px;
  line-height: 1.15;
}

.no-name-img {
  width: 704px;
}
}

@media screen and (min-width: 1440px) {
.no-name-list {
  max-width: 768px;
  padding: 90px 50px 90px 50px;
}

.no-name-img {
  width: 540px;
}

.wrapper-desctop {
  display: flex;
  gap: 32px;
}
}

/*rent form*/

.yacht-rent {
  padding-bottom: 80px;
}

.wrapper-rent {
  margin-bottom: 80px;
}

.rent-text {
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  margin-bottom: 40px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-input {
  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 12px;
  padding: 14px;
  width: 100%;
  background-color: transparent;
  margin-bottom: 18px;
}

.modal-form-textarea {
  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 12px;
  padding: 14px;
  width: 100%;
  min-height: 108px;
  resize: none;
  background-color: transparent;
  margin-bottom: 40px;
}

.modal-form-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  color: rgba(251, 251, 251, 0.4);
}

.modal-form-textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  color: rgba(251, 251, 251, 0.4);
}

.form-botton-contact {
  border-radius: 15px;
  padding: 14px 44px;
  max-width: 122px;
  height: 46px;
  background-color: #1b414b;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  border: none;
  align-self: flex-start;
}

.rent-img {
  display: block;
  width: 100%;
  max-width: 335px;
  height: auto;
  margin: 0 auto;
  border-radius: 24px;
}

@media screen and (min-width: 768px) {
.wrapper-rent {
  max-width: 472px;
  margin: 0 auto 100px;
}

.rent-text {
  font-size: 48px;
  margin-bottom: 50px;
}

.modal-form-input {
  padding: 18px;
}

.modal-form-textarea {
  padding: 18px;
  min-height: 116px;
  margin-bottom: 50px;
}

.modal-form-input::placeholder {
  font-size: 14px;
  line-height: 1.29;
}

.modal-form-textarea::placeholder {
  font-size: 14px;
  line-height: 1.29;
}

.form-botton-contact {
  padding: 18px 75px;
  max-width: 194px;
  height: 56px;
  font-size: 18px;
  line-height: 1.1;
}

.rent-img {
  max-width: 704px;
}
}

@media screen and (min-width: 1440px) {
.wrapper-rent-desctop {
    display: flex;
    flex-direction: row-reverse;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
  }

.wrapper-rent {
  margin: 0; 
}

.rent-img {
  max-width: 768px;
}

}

/*reviews*/

.reviews-item-two,
.reviews-item-tree {
  display: none;
}

.reviews {
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.reviews-logo {
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
  margin-bottom: 25px;
}

.reviews-small-logo {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
  opacity: 0.4;
  margin-bottom: 40px;
}

.reviews-item-one {
  border-radius: 24px;
  padding: 32px 8px;
  max-width: 335px;
  height: 282px;
  text-align: center;
  background-color: #fbfbfb;
}

.reviews-name-people {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: -0.02em;
  text-align: center;
  color: #040306;
  margin-bottom: 8px;
}

.reviews-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(4, 3, 6, 0.4);
}

.review-img {
  
}

@media screen and (min-width: 768px) {
    .reviews-list {
    flex-direction: row;
  }
}

/*footer*/

.footer {
  padding: 40px 0;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-nav-list {
  display: flex;
  gap: 14px;
  margin: 20px 0;
}

.footer-social-list {
  display: flex;
  gap: 14px;
  margin-bottom: 30px;
}

.footer-text {
  text-align: center;
  font-size: 14px;
  margin-bottom: 20px;
}

.footer-description-one,
.footer-description-two {
  text-align: center;
  font-size: 12px;
  opacity: 0.6;
}

@media screen and (min-width: 1440px) {
     .footer-nav {
    flex-direction: row;
    justify-content: space-between;
  }
}