h1,h2,h3,p,ul {
    margin: 0;
    padding: 0;
}
ul, ol{
    list-style: none;
}

a{
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
  font-family: "Inter", sans-serif;
  color: #FBFBFB;
  background-color: #0E1823;
}

.button {
    cursor: pointer;
}


/*header*/

.header {
    display: none;
}




/*section hero*/

.hero {
   max-width: 375px;
   height: 812px;
   background-image: url('../images/fome-mobile1x.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   align-items: center;
   justify-content: center;
   text-align: center;
   display: flex;
   flex-direction: column;
}

.hero-container {
   max-width: 335px;
   height: 250px;
   margin-left: 20px;
   margin-right: 20px;
}

.hero-text {
   font-weight: 500;
   font-size: 32px;
   line-height: 1;
   letter-spacing: -0.02em;
   text-align: center;
   color: #fbfbfb;
   padding-bottom: 24px;
}

.hero-description {
   font-weight: 300;
   font-size: 12px;
   line-height: 1.17;
   text-align: center;
   color: rgba(251, 251, 251, 0.7);
   padding-bottom: 38px;
}

.hero-link {
    border-radius: 15px;
    padding: 14px 32px;
    width: 141px;
    height: 46px;
    background-color: #1b414b;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: #fbfbfb;  
}


@media screen and (min-width: 768px) {
.hero {
   max-width: 768px;
   height: 962px;
   background-image: url('../images/fone-tablet1x.jpg');
}

.hero-container {
   max-width: 704px;
   height: 400px;
   margin-left: 32px;
   margin-right: 32px;
}

.hero-text {
   font-size: 70px;
}

.hero-description {
   font-size: 16px;
   line-height: 1.4;
   padding-bottom: 48px;
}

.hero-link {
    padding: 16px 40px;
    width: 179px;
    height: 52px;
    font-size: 18px;
    line-height: 1.1; 
}
}


@media screen and (min-width: 1158px) {
.hero {
   max-width: 1440px;
   height: 800px;
   background-image: url('../images/fone-desk1x.jpg');
}

.hero-container {
   max-width: 1001px;
   height: 350px;
   margin-left: 220px;
   margin-right: 220px;
}

.hero-text {
   font-size: 80px;
}

.hero-description {
    
}
}

